.Button {
    padding: 1em;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    border-radius: 0.5em;
    color: white;
    cursor: pointer;
    border: none;
    background-color:#339989;
}
.Button:hover {
    background-color:#297A6E;
    color: white;
}
.Button:disabled {
    background-color: grey;
    color:lightgray;
    cursor: default;
}